@import url('https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #977c44;
}


header h1{
    text-align: center;
    font-family: "Mozilla Text", sans-serif;

}

#tasks{
    margin-left: 15%;
    align-items: center;
}

.conteiner{
    display: flex;
    width: 1050px;
    height: 520px;

    justify-content: center;

    margin-top: 55px;

    padding-top: 1%;

    background-color: #ece8e1;

    border-radius: 35px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    box-shadow: 0  10px 30px rgba(0,0,0,0.3);
}



dialog {
    border: none;
    border-radius: 8px;
    padding: 40px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -110%);
    z-index: 1000;

    transition: 0.5s ease-in;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-out;
}

dialog h1{
    padding: 10px;
    margin-bottom: 40px;

    text-align: center;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

footer .btn-img img{
    width: 70px;
}

footer .btn-img{
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.categoria{
    display: flex;
    flex-direction: column;
}

.transicao_abrir_modal{
    transition: 0.5s ease-in; 
}

.transicao_fechar_modal{
    transition: 0.5s ease-out;
}